<ion-view title="Leistungen">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-plus-outline"
                ng-click="rlCtrl.addRecord()">
        </button>
        <button class="button button-icon icon ion-ios7-drag"
                ng-click="openPopover($event)">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="item item-input-inset"
             ng-show="rlCtrl.searchActive">

            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="text" placeholder="Search"
                       ng-model="rlCtrl.searchQuery">
            </label>

            <button class="button button-clear"
                    style="min-height: inherit;line-height: inherit;"
                    ng-click="rlCtrl.toggleSearch()">Cancel
            </button>
        </div>
        <ion-list can-swipe=true>
            <ion-item class="item-text-wrap animation"
                      ng-repeat="record in filteredRecords = (rlCtrl.records | filter:{name: rlCtrl.searchQuery} | orderBy:'name')"
                <h2>{{record.name}}</h2>
                <p style="text-align: right">{{record.mark}}%</p>

                <p style="font-size: small">{{record.modulnr}} {{record.crp}} Crp</p>

                <ion-option-button class="button-assertive"
                                   ng-click="rlCtrl.deleteMod()">Löschen
                </ion-option-button>
            </ion-item>

        </ion-list>
        <div class="card" ng-hide="rlCtrl.records.length">
            <div class="item item-text-wrap">
                <p>Keine Leistungen vorhanden</p>
                <button class="button button-block ion-plus button-light"
                        ng-click="rlCtrl.addRecord()">Leistung
                    anlegen
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
<script id="popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-list>
            <ion-item class="item-icon-left"
                      ng-click="rlCtrl.toggleSearch();popover.hide()"
                      ng-hide="rlCtrl.searchActive" href="#">

                <i class="icon ion-ios7-search"></i>Suche

            </ion-item>
            <ion-item class="item-icon-left"
                      ng-click="rlCtrl.showStats();popover.hide()">
                <i class="icon ion-ios7-pulse"></i>Statistik
            </ion-item>
            <ion-item class="item-icon-left"
                      ng-click="rlCtrl.mailFunc();popover.hide()">
                <i class="icon ion-ios7-email-outline"></i>Email
            </ion-item>
        </ion-list>
    </ion-popover-view>
</script>
